<html>
<head>
	<title>Trending Main</title>
	<link rel='stylesheet' id='screenandmin-width768px-css-2' href='http://s0.wp.com/wp-content/themes/vip/metrouk/css/fonts.css' type='text/css' media='screen and (min-width: 768px)' /><!-- ?m=1412696331g -->
	<link rel='stylesheet' id='screen-css-2' href='http://s1.wp.com/wp-content/themes/vip/metrouk/css/global.css' type='text/css' media='screen' /><!-- ?m=1412851746g -->
</head>
<body xxx-class="www has-hover customise-support">
	<%
	# <div id="page-body">
	# 	<div class="pageBodyInner home blog logged-in admin-bar no-customize-support large mp6 typekit-enabled category-ents-tech subcategory-tv highlander-enabled highlander-light">
	# 		<div class="pageBackground">
	# 			<div id="header-content" class="header-content clearfix">
					%>
					<div id="widget-area-channel-top" class="widget-area sidebar clearfix">
						<%= fragment %>
					</div>
					<%
	# 			</div>
	# 		</div>
	# 	</div>
	# </div>
	%>
</body>
</html>